<template>
  <div id="app">
    <UsersTable></UsersTable>
  </div>
</template>

<script>
import UsersTable from "./components/UsersTable";

export default {
  name: "App",
  components: {
    UsersTable
  },
  data() {},
  methods: {},
};
</script>

<style>
</style>
